@import "variables";

@import "stylesSol";


.container-fluid{
    padding: 0;
}

.scrollspy-example {
    position: relative;
    height: 200px;
    overflow: auto;
}

.infoRecetados{
    background-color: rgb(255, 254, 240);
    margin-bottom: none;
    padding-bottom: none;
    .wave, .wave svg, .wave svg path{
        padding: 0;
        margin: 0;
    }
    h1{
        color: $blueB;
        font-weight: 700;
        padding: 2rem 2rem 0rem 5rem;
        font-size: 2.5rem;
    }
    .row{
        margin: 2rem 0 0 0;
        padding-bottom: 2rem;
        .nav-pills{
        display: flex;
        flex-direction: column;
            a{
                color: $blueB;
                font-weight: 500;
                margin-top: 1rem;
                margin-right: 1rem;
                border-bottom: solid rgb(163, 154, 204) 0.05px;
                border-radius: 0;
            }
        }
        .nav-pills-sm{
            display: none;
        }
        .scrollspy-example{
            color: $blueB;
            height: 17rem;
            border-bottom: solid rgb(163, 154, 204) 0.05px;
            h6{
                font-size: 1rem;
                font-weight: 700;
            }
            p{
                margin-bottom: 5rem;
            }
        }
    }
    .title-infoRecetados{
        color: $blueB;
        padding: 2rem;
        h4{
            font-size: 1.8rem;
            padding: 2rem;
            text-align: right;
        }
    }
}

@media (max-width: 991px){
    .infoRecetados{
        .title-infoRecetados{
            color: $blueB;
            padding: 0;
            h4{
                font-size: 1.8rem;
                padding: 0 0 0 2rem ;
                text-align: left;
            }
        }
        .title-formas{
            margin-top: 2rem;
        }
    }
}

@media (max-width: 767px){
    .infoRecetados{
        h1{
            color: $blueB;
            font-weight: 700;
            padding: 2rem;
            font-size: 3rem;
        }
        .row{
            margin: 2rem 0 0 0;
            padding-bottom: 2rem;
            .nav-pills{
                display: none;
            }
            .nav-pills-sm{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                padding: 20px 0 0 0;
                flex-wrap: wrap;
                .nav-link-sm a{
                    color: $blueB;
                    border-bottom: solid rgb(163, 154, 204) 0.05px;
                    font-size: 1rem;
                }
            }
            .scrollspy-example{
                color: $blueB;
                height: 20rem;
                margin-top: 0;
                padding-top: 0;
                border-bottom: solid rgb(163, 154, 204) 0.05px;
                h6{
                    font-size: 1rem;
                    font-weight: 700;
                }
                p{
                    margin-bottom: 5rem;
                }
            }
        }
        .title-infoRecetados{
            color: $blueB;
            padding: 0;
            h4{
                font-size: 1.8rem;
                padding: 0 0 0 2rem ;
                text-align: left;
            }
        }
        .title-formas{
            margin-top: 2rem;
        }
    }
}

.laddingRecetados{
    @extend .laddingSol;
    .carousel{
        .carousel-inner{
            .carousel-item{
                a{
                    color: #f0f8ff;
                }
                .img{
                    width: 100%;
                    height: 70vh;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .img1{
                    background-image: url(../gallery/ninaRecetados.jpg);
                }
                .img2{
                    background-image: url(../gallery/enfoqueRecetados.jpg);
                }
                .img3{
                    background-image: url(../gallery/gondolarecetados.jpg);
                }
            }
        }
        .carousel-inner:hover .carousel-item{
            transform: scale(1.05);
        }
    }
}


.articuloKids{
    background-image: linear-gradient(to bottom, #dad4ec 0%, #dad4ec 1%, rgb(255, 254, 240) 100%);
    padding: 10rem 5rem;
    color: $blueB;
    h1{
        font-size: 3rem;
        font-weight: 700;
    }
    p{
        font-size: 1rem;
        line-height: 2rem;
        padding-bottom: 1rem ;
    }
    .img-kidsRec .img-rec-kid{
        background-image: url(../gallery/kidsSchool.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 25rem;
        width: 100%;
    }
    .txt-kidsRec{
        ul li{
            font-size: 1rem;
            margin-bottom: 0.5rem;
            margin-left: 5rem;
        }
    }
}

@media (max-width: 991px){

    .laddingRecetados{
        @extend .laddingSol;
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .img {
                        height: 80vh;
                    }
                }
            }
        }
    }

    .articuloKids{
        padding: 7rem 3rem;
        h1{
            font-size: 3rem;
            font-weight: 700;
        }
        .txt-kidsRec{
            margin-top: 2rem;
            ul li{
                margin-bottom: 1rem;
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 550px){
    .articuloKids{
        h1{
            font-size: 2rem;
        }
    }
}