@import "variables";

.laddingSol .carousel{
    .carousel-inner{
        .carousel-item{
            a h3{
                color: aliceblue;
            }
            .img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
