@import "variables";


.novedades_home{
    // background-image: url(../gallery/background_3160622.jpg);
    background-color: #a1ff6a;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2315c5b5' fill-opacity='0.42'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");    // background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding: 50px 0px 50px 4%;
    margin-top: 0px;
    h1{
        font-size: 60px;
        color:#1a217c;
        font-weight: 700;
    }
    .novedades__home--card{
        margin: 15px;
        text-align: left;
        border:none;
        border-radius: 10px;
        box-shadow: rgb(105, 107, 105) 1px 1px 4px;
        .card-body{
            padding: 0;
            .card-title{
                padding: 0;
                margin-top: 20px;
            }
            .card-text{
                padding: 0;
                margin-bottom: 0px;
                margin: 0;
            }
            .card-btn{
                padding: 8px 20px 5px 15px;
                font-family: 'Poppins', sans-serif;
                color: #1a217c;
                font-size: 15px;
                position: absolute;
                bottom: 0;
                margin: 0 0 10px 0;
                border-radius: 15px;
                background-image: url(../gallery/background_3160622.jpg);
                border: none;
                i{
                    margin-left: 18px;
                    padding: 0;
                    font-size: 18px;
                    color: #1a217c;
                }
            }
            .card-btn:hover, .card-btn:hover i{
                color: #8C1F28;
            }
            .card-btn:hover{
                transform: scale(1.1);
            }
        }
    }
}

  /* novedades xs------- */
@media (max-width: 575px){

    .novedades__home--card{
    height: 300px;
    }
}

  /* novedades sm------- */
@media (min-width: 576px){
    .novedades__home--card{
        height: 320px;
    }
}

  /* novedades md------- */
@media (min-width: 768px){

    .novedades__home--card{
        height: 250px;
    }
}
@media (min-width: 768px){

    .novedades__home--card{
        height: 400px;
    }
}

  /* novedades lg------- */
@media (min-width: 992px){

    .novedades__home--card{
    height: 270px;
    }
}

  /* novedades xl------- */
@media (min-width: 1200px){

    .novedades__home--card{
    height: 340px;
    }
}


// --------------tienda recetados-----------

.shop-section-recetados{
    background-image: linear-gradient(-225deg, rgba(167, 190, 241, 0.664)0%, rgba(243, 222, 253, 0.76) 48%, rgba(167, 190, 241, 0.664) 100%);
    padding: 50px;
    h1{
        font-weight: 800;
        display: block;
        width: 100%;
        color: $sombra;
        margin-bottom: 20px;
    }
    .shop-section-marcas{
        color: $sombra;
        span{
        font-size: 35px;
        font-weight: 600;
        }
        li{
            padding: 5px;
            font-size: 18px;
            font-weight: 500;
            .input--option{
                margin-right: 15px;
            }
        }
    }
    .shop-section-product{
        // padding-left: 80px;
        .product--card{
            @extend .novedades__home--card;
            margin: 15px 30px;
            text-align: left;
            border-radius: 10px;
            // box-shadow: rgb(105, 107, 105) 1px 1px 4px;
            height: 300px;
            .card-body{
                padding: 0;
                color: $sombra;
                .card-title{
                    padding: 0;
                    margin-top: 20px;
                }
                .card-text{
                    padding: 0;
                    margin-bottom: 0px;
                    margin: 0;
                }
                .card-btn{
                    padding: 8px 15px 5px 15px;
                    font-family: 'Poppins', sans-serif;
                    color: $sombra;
                    font-weight: 600;
                    font-size: 15px;
                    position: absolute;
                    bottom: 0;
                    margin: 0 0 10px 0;
                    border-radius: 15px;
                    background-image: url(../gallery/background_3160622.jpg);
                    background-image: linear-gradient(to bottom, #8af5f5 0%, #5bd6a7 100%);
                    border: none;
                    i{
                        margin-left: 18px;
                        padding: 0;
                        font-size: 18px;
                        color: $sombra;
                    }
                }
                .card-btn:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    .shop-btn-marcas{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1114px){
    .shop-section-recetados{
        padding: 40px;
        .shop-section-marcas{
            span{
            font-size: 35px;
            }
            li{
                font-size: 15px;
                .input--option{
                    margin-right: 10px;
                }
            }
        }
        .shop-section-product{
            .product--card{
                margin: 15px 20px;}
        }
    }
}

@media (min-width: 767px) and (max-width: 991px){
    .shop-section-recetados{
        .shop-section-marcas{
            span{
            font-size: 35px;
            }
            li{
                font-size: 15px;
                .input--option{
                    margin-right: 5px;
                }
            }
        }
        .shop-section-product{
            .product--card{
                height: 350px;
                margin: 15px 10px;}
        }
    }
}

@media (max-width: 767px){
    .shop-section-recetados{
        .shop-section-marcas{
            display: none;
        }
        .shop-btn-marcas{
            display: block;
            .panel-heading a{
                color: $sombra ;
                text-decoration: none;
                font-size: 30px;
            }
            .panel-body li{
                list-style-type: none;
                font-size: 18px ;
                padding: 5px;
            }
        }
        .shop-section-product{
            .product--card{
                height: 350px;
                margin: 15px 10px;}
        }
    }
}
@media (max-width: 575px){
    .shop-section-recetados{
        padding: 20px;
        h1{
            font-size: 40px;
        }
        .shop-section-product{
            .product--card{
                height: 300px;
                margin: 15px 5px;
                .card-body{
                    .card-btn{
                        padding: 8px 10px 5px 10px;
                        font-size: 15px;
                        i{
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }
}

//--------------tienda sol-----------

.shop-section-sol{
    @extend .shop-section-recetados;
    background-image: linear-gradient(to top, #eea2a2dc 0%rgba(187, 193, 191, 0.747)bf 19%, #57c5e1b6 42%, #b49fda9c 79%, #7ac5d8 100%);
}