@import "variables";

//--------formulario-contacto--------
.formulario-contact{
    background-image: linear-gradient(-225deg, #74a7f3 0%, #B8DCFF 48%, #6BBBFF 100%);
    padding: 5% 0;
}
.form-contact{
    // background-color: aliceblue;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.form-contact-img{
    background-image: url(../gallery/Chat_Flatline.png);
    background-position: center;
    background-repeat: no-repeat;
}


.contact_forulario{
    padding:35px 20px ;
    color: #2F3CA1;
    overflow: hidden;
    .subtitle{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .form{
        margin-top: 0;
        padding-top: 0;
        border: none;
        label{
            text-align: center;
            margin: 5% 0 0 0;
        }
        input{
            background-color: #ffffff00;
            border:none;
            border-bottom: solid #2F3CA1 2px;
            width: 80%;
            margin-left: 10%;
        }
        textarea{
            background-color: #ffffff00;
            border:none;
            border-bottom: solid #2F3CA1 2px;
            margin-left: 10%;
            height: 85px;
            width: 80%;
            resize: none;
        }
        .div--domicilio{
            padding: 5% 0 0 5%;
            margin: 0;
            .label--domicilio {
                margin: 0;
                padding: 0 0 2% 0;
            }
            .domicilio--alloptions{
                display: flex;
                justify-content: space-around;
                margin-top: 0;
                padding-top: 0;
                .one_option{
                    display: block;
                    width: max-content;
                    .input--option{
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                    }
                    .input--option:hover{
                        transform: scale(1.5);
                    }
                    .label--option{
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
        .input--button{
            margin: 25px 35% 0 35%;
            width: 30%;
            padding:15px 32px;
            border: none;
            border-radius: 20px;
            box-shadow: #13153f 1.5px 1.5px 5px;
            color: #1a217c;
            font-weight: 600;
            background-image: linear-gradient( 60deg, #83db49, rgb(17, 221, 187));
        }
        .input--button:hover{
            transform: scale(1.1);
        }
        
        
    }
} 

  /* formulario xs------- */
@media (max-width: 575px){

}

  /* formulario sm------- */
@media (min-width: 576px)and (max-width: 767px){  

}
  
  /* formulario md------- */
  @media (min-width: 768px)and (max-width: 991px){
    .form-contact-img{
        background-image: url(../gallery/Chat_Flatline_vertical.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
