@import "variables";

//--------formulario-contacto--------
.formulario-contacto{
    background-image: linear-gradient(-225deg, #74a7f3 0%, #B8DCFF 48%, #6BBBFF 100%);
    padding: 4% 0;
}
.form-square{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.form-square-img{
    background-image: url(../gallery/Chat_Flatline.png);
    background-position: center;
    background-repeat: no-repeat;
}

.square_forulario{
    padding:35px 20px ;
    color: $blueC;
    overflow: hidden;
    .subtitle{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .form{
        margin-top: 0;
        padding-top: 0;
        border: none;
        label{
            text-align: center;
            margin: 5% 0 0 0;
        }
        input{
            background-color: #ffffff00;
            border:none;
            border-bottom: solid $blueC 2px;
            width: 80%;
            margin-left: 10%;
        }
        textarea{
            background-color: #ffffff00;
            border:none;
            border-bottom: solid $blueC 2px;
            margin-left: 10%;
            height: 85px;
            width: 80%;
            resize: none;
        }
        .div--selection{
            display: flex;
            flex-wrap: wrap;
            padding: 5% 0 0 5%;
            margin: 0;
            justify-content: space-around;
            .form-select{
                display: inline-block;
                background-color: #837b7500;
                color: $blueC;
                border: none;
                border-bottom: solid $blueC 2px;
                padding: 30px 0px 10px 0px;
                margin: 0 5px 10px 5px;
                option{
                    background-color: #e7e6e4;
                }
            }
        }
        .input--button{
            margin: 25px 35% 0 35%;
            width: 30%;
            padding:15px 32px;
            border: none;
            border-radius: 20px;
            box-shadow: #13153f 1.5px 1.5px 5px;
            color: $blueB;
            font-weight: 600;
            background-image: linear-gradient( 60deg, #83db49, rgb(17, 221, 187));
        }
        .input--button:hover{
            transform: scale(1.1);
        }
        
        
    }
} 

  /* formulario md------- */
@media (min-width: 768px)and (max-width: 991px){
    .form-square-img{
        background-image: url(../gallery/Chat_Flatline_vertical.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

//--------galeria servicios-----------
.servicios-gallery{
    padding: 30px 10px;
    height: 500px;
    background-color: $blueA;
    // background-repeat:repeat-x;
    // background-size: contain;
    // background-position: left;
    .servicios_title{
        font-size: 60px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #2ad6c5ce;
        text-shadow:#0e072e 5px 5px 15px ;
    }
    .servicios_title_up, .servicios_title_down{
        display: block;
        text-align: right;
        margin-right: 20px;
        }
    .servicios_title_up{
        margin-top: 60px;
        }
    .servicios_title_lineal{
        display:none;
        font-size: 80px;
    }
}

.galeria__servicios{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "img1 img2 img2 img3"
    "img4 img5 img6 img6";
    grid-gap:15px;
}

.galeria__servicios--img{
    border-radius: 15px;
    background-size: cover;
    box-shadow: rgb(14, 7, 46) 5px 5px 15px;
    .btn{
        position: absolute;
        display: block;
        margin: 147px 10px;
        border: none;
        border-radius: 10px;
        background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    }
    .btn a{
        text-decoration: none;
        color: $sombra;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        font-weight: 600;
    }

    .btn:hover{
        background-color: #837b75;
        background-image: linear-gradient(-20deg, rgb(133, 130, 130) 0%, #9bc5c3 100%);
        transform: scale(1.02);
        border: solid $blueB 2px;
        transition:none;
    }

    .btn:hover a{
        color: $blueB;
    }
}

@mixin bg-position($position){
    background-position: $position;
}


$galeria-serv:( 
    img1: url(../gallery/galeria_recetados2_recortada.jpg),
    img2: url(../gallery/galeria_contactos_blue.jpg),
    img3: url(../gallery/galeria_audifono_blue_recorte2.jpg),
    img4: url(../gallery/galeria_sol.jpg),
    img5: url(../gallery/galeria_fotos_azul.jpg),
    img6: url(../gallery/galeria_industriales_blue.jpg),
    );

@each $img, $url in $galeria-serv {
    .galeria__servicios--#{$img} {
        grid-area: $img;
        background-image: $url;
        @if (($img==img1) or ($img==img5)){
            @include bg-position(center);
        }@else if (($img==img2) or ($img==img6)){
            @include bg-position(top);
        }@else if ($img==img4) {
            @include bg-position(right);
        }
    }
}

@media screen and (max-width: 1149px){

    .servicios-gallery{
        .servicios_title{
            font-size: 45px;
        }
        
        .galeria__servicios--img .btn{
            position: absolute;
            display: block;
            margin: 153px 10px;
            font-size: 10x;
        }
        
        .galeria__servicios--img1 .btn{
            font-size: 11px;
        }
    }
}

@media (max-width: 991px){
    .servicios-gallery{
        height: 600px;
        .servicios_title{
            width: 100%;
            text-align: center;
            margin-left: 0;
        }
        
        .servicios_title_up, .servicios_title_down{
            display: none;
        }
        
        .servicios_title_lineal{
            display:block;
        }
        
        .galeria__servicios .btn{
            padding: 5px 6px;
        }
        }

}

@media (max-width: 842px){
    .servicios-gallery{
        height: 1200px;
        .galeria__servicios{
            height: 1000px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 
            "img1 img4"
            "img2 img2"
            "img3 img5"
            "img6 img6";
            grid-gap:15px;
            .galeria__servicios--img .btn{
                margin: 200px 10px;
            }
        }
    }
}

@media (max-width: 842px){
    .servicios-gallery{
        .galeria__servicios{
            .galeria__servicios--img .btn a{
                font-size: 10px;
            }
        }
    }
}