@import "variables";

@import "stylesMain";
@import "stylesAudifonos";

.ladingFotog{
    @extend  .laddingAudif;
    background-color: #fff;
    .jumbotron{
        margin: 0 2rem;
        background-image: url(../gallery/kiosko-small.jpg);
        .jumbotron-text{
            text-align: left;
            width: 50%;
        }
    }
}

.fichasFotografia{
    @extend .fichasAudifonos;
    justify-content: space-between;
    padding: 2rem 0;
    background-color: #fff;
    .fichaFotog{
        @extend .fichaAu;
        margin-top: 5rem;
        .irA{
            background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
            padding: 0.5rem 2rem;
        }
        .downloadBtn{
            padding: 0.3rem 2rem;
            font-size: 1rem;
            i{
                font-size: 1rem;
                padding-right: 1rem;
            }
        }
        .downloadBtniOs{
            bottom: 3rem;
            padding-right: 4.8rem;
        }
    }
    .fichaFotog1, .fichaFotog2{
        @extend .fichaAu1;
    }
}

@media (max-width: 1200px){
    .fichasFotografia{
        .fichaFotog{
            .downloadBtn{
                padding: 0.3rem 1rem;
                font-size: 0.8rem;
                i{
                    font-size: 1rem;
                    padding-right: 0.3rem;
                }
            }
            .downloadBtniOs{
                bottom: 3rem;
                padding-right: 3rem;
            }
        }
        .fichaFotog1, .fichaFotog2{
            @extend .fichaAu1;
        }
    }
}


@media (max-width: 991px){
    .fichasFotografia{
        padding: 2rem;
        .fichaFotog{
            color: $blueB;
            padding: 2rem 0 3rem 0;
            height: auto;
            border-bottom: solid $blueB 1px;
            .irA{
                bottom: 1rem;
                text-decoration: 0;
            }
        }
        .fichaFotog1{
            h3{
                margin-bottom: 7rem;
            }
            .downloadBtniOs{
                bottom: 5rem;
            }
        }
        .fichaFotog1 , .fichaFotog2{
            border-right:none;
        }
        .fichaFotog3{
            border:none;
        }
}
}

@media (max-width: 935px){
    .ladingFotog{
        @extend  .laddingAudif;
        .jumbotron{
            padding-top: 3.5rem;
            margin: 0 1rem;
            font-size: 1rem;
            .jumbotron-text{
                width: 40%;
            }
        }
    }
}

@media (max-width: 730px){
    .ladingFotog{
        background-color: #fff;
        .jumbotron{
            background-position: center;
            padding-top: 35rem;
            margin-bottom: 5rem;
            .jumbotron-text{
                text-align: center;
                width: 100%;
            }
        }
    }
}

@media (max-width: 400px){

    .fichasFotografia{
        .fichaFotog1{
            h3{
                margin-bottom: 8rem;
            }
            .downloadBtn{
                padding-right: 1rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                font-size: 0.7rem;
            }
            .downloadBtniOs{
                bottom: 6rem;
                padding-right: 3rem;
            }
        }
    }
}






.formulario-fotografia{
    @extend .formulario-contacto;
    padding: 5rem 0;
    // background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    background-image:  linear-gradient(to top, #46484e6e 0%, #eef1f567 100%), url(../gallery/urbanAfiche.jpg);
    background-size: contain;
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        // border: solid $blueC 0.1px;
        border-bottom: solid $blueC 2px;
        display:block;
        padding:5px 15px 5px 15px;
        width: 60%;
        position: relative;
        left: 20%;  
        cursor: pointer;
    }
    .custom-file-upload:hover{
        transform: scale(1.1);
    }
    .form-square-img{
        background-image: url(../gallery/flame-photographing.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .form-square{
        background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
        background-blend-mode: screen;
    }
    .form{
        .div--selection{
            padding: 5% 0 0 5%;
            .label--selection{
                padding: 0 0 0 0;
                font-size: 15px;
            }
        }
        .div--selection2{
            padding: 3% 0 0 0%;
            .label--selection2{
                padding: 3% 0 0 0;
            }
        }
        .input--button{
            margin: 2rem 1rem 1rem 25%;
            width: 50%;
            padding:1rem 1rem;
            border: none;
            border-radius: 20px;
            box-shadow: #dfc59e 1.5px 1.5px 10px;
            color: $blueB;
            font-weight: 600;
            background-image: linear-gradient(to right, #faa770 0%, #fee140 100%);
        }
    }
}