@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f1f1;
  font-family: "Poppins", sans-serif;
}

.logo {
  padding: 20px;
  padding-top: 30px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/* --------------Nav menu --------------- */
.topnav {
  overflow: visible;
  display: flex;
  justify-content: space-around;
  background-color: #1F28A1;
  height: 50px;
  padding: 0;
  margin: 0;
  z-index: 2000;
}
.topnav a {
  float: left;
  display: block;
  color: #f5f5f5;
  text-align: center;
  padding: 14px 20px 14px 0px;
  text-decoration: none;
  font-size: 90%;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 3%;
}
.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: visible;
}
.dropdown .dropbtn {
  font-size: 90%;
  border: none;
  outline: none;
  color: #f5f5f5;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 51px;
  left: 10px;
  background-color: #1F28A1;
  width: 180%;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #f5f5f5;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #1F28A1;
  border-bottom: solid #28bb14 10px;
  padding-bottom: 4px;
}

.fa-caret-down {
  margin-left: 10px;
}

.topnav a:hover {
  background-color: #1F28A1;
  border-bottom: solid #28bb14 10px;
  padding-bottom: 4px;
}

.fa-caret-down:hover {
  border-bottom: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  top: 0;
  z-index: 10000;
}

@media screen and (min-width: 835px) and (max-width: 1060px) {
  .topnav a {
    padding: 14px 10px;
    text-decoration: none;
  }
}
@media screen and (min-width: 831px) and (max-width: 977px) {
  .topnav {
    padding: 5px 0px;
  }
  .topnav a {
    padding: 14px 5px;
    text-decoration: none;
    font-size: 75%;
  }
  .dropdown .dropbtn {
    font-size: 75%;
  }
}
@media screen and (min-width: 768px) and (max-width: 830px) {
  .topnav {
    padding: 5px 0px;
  }
  .topnav a {
    padding: 14px 5px;
    text-decoration: none;
    font-size: 70%;
  }
  .dropdown .dropbtn {
    font-size: 70%;
  }
}
@media screen and (max-width: 767px) {
  .topnav {
    height: max-content;
    display: block;
  }
  .dropdown-content {
    margin-top: 2px;
    width: 100%;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: inherit;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.lading-page {
  background-image: linear-gradient(to top, rgba(187, 212, 240, 0.8078431373) 0%, rgba(231, 240, 253, 0.705) 100%), url("../gallery/carrussel_local_3.jpeg");
  width: 100%;
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  z-index: 0;
}
.lading-page .lading-page-text {
  font-family: "Rubik", sans-serif;
  height: 60vh;
  color: #004643;
  color: #2F3CA1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lading-page .lading-page-text h1 {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px 5px 10px;
  animation-duration: 2s;
}
.lading-page .lading-page-text span {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  padding: 0 10px 5px 10px;
  animation-duration: 2s;
}

.formulario-contacto, .formulario-fotografia {
  background-image: linear-gradient(-225deg, #74a7f3 0%, #B8DCFF 48%, #6BBBFF 100%);
  padding: 4% 0;
}

.form-square {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.form-square-img {
  background-image: url(../gallery/Chat_Flatline.png);
  background-position: center;
  background-repeat: no-repeat;
}

.square_forulario {
  padding: 35px 20px;
  color: #2F3CA1;
  overflow: hidden;
}
.square_forulario .subtitle {
  margin-bottom: 0;
  padding-bottom: 0;
}
.square_forulario .form {
  margin-top: 0;
  padding-top: 0;
  border: none;
}
.square_forulario .form label {
  text-align: center;
  margin: 5% 0 0 0;
}
.square_forulario .form input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid #2F3CA1 2px;
  width: 80%;
  margin-left: 10%;
}
.square_forulario .form textarea {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid #2F3CA1 2px;
  margin-left: 10%;
  height: 85px;
  width: 80%;
  resize: none;
}
.square_forulario .form .div--selection {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 0 0 5%;
  margin: 0;
  justify-content: space-around;
}
.square_forulario .form .div--selection .form-select {
  display: inline-block;
  background-color: rgba(131, 123, 117, 0);
  color: #2F3CA1;
  border: none;
  border-bottom: solid #2F3CA1 2px;
  padding: 10px 0px 10px 0px;
  margin: 0 5px 10px 5px;
}
.square_forulario .form .div--selection .form-select option {
  background-color: #e7e6e4;
}
.square_forulario .form .input--button {
  margin: 1rem 1rem 1rem 25%;
  width: 50%;
  padding: 1rem 1rem;
  border: none;
  border-radius: 20px;
  box-shadow: #9ea1df 1.5px 1.5px 10px;
  color: #1a217c;
  font-weight: 600;
  background-image: linear-gradient(60deg, #83db49, rgb(17, 221, 187));
}
.square_forulario .form .input--button:hover {
  transform: scale(1.1);
}

/* formulario md------- */
@media (min-width: 768px) and (max-width: 991px) {
  .form-square-img {
    background-image: url(../gallery/Chat_Flatline_vertical.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.servicios-gallery {
  padding: 30px 10px;
  height: 500px;
  background-color: #1F28A1;
  border: none;
  margin-top: 0;
  z-index: 200;
}
.servicios-gallery .servicios_title {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: rgba(42, 214, 197, 0.8078431373);
  text-shadow: #0e072e 5px 5px 15px;
}
.servicios-gallery .servicios_title_up, .servicios-gallery .servicios_title_down {
  display: block;
  text-align: right;
  margin-right: 20px;
}
.servicios-gallery .servicios_title_up {
  margin-top: 60px;
}
.servicios-gallery .servicios_title_lineal {
  display: none;
  font-size: 3rem;
}

.galeria__servicios {
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img1 img2 img2 img3" "img4 img5 img6 img6";
  grid-gap: 15px;
}

.galeria__servicios--img {
  border-radius: 15px;
  background-size: cover;
  box-shadow: rgb(14, 7, 46) 5px 5px 15px;
}
.galeria__servicios--img .btn {
  position: absolute;
  display: block;
  margin: 147px 10px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}
.galeria__servicios--img .btn a {
  text-decoration: none;
  color: #13153f;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.galeria__servicios--img .btn:hover {
  background-image: linear-gradient(-20deg, rgb(48, 18, 155) 0%, #251763 100%);
}
.galeria__servicios--img .btn:hover a {
  color: #ed6ea0;
}

.galeria__servicios--img1 {
  grid-area: img1;
  background-image: url(../gallery/galeria_recetados2_recortada.jpg);
  background-position: center;
}

.galeria__servicios--img2 {
  grid-area: img2;
  background-image: url(../gallery/galeria_contactos_blue.jpg);
  background-position: top;
}

.galeria__servicios--img3 {
  grid-area: img3;
  background-image: url(../gallery/galeria_audifono_blue_recorte2.jpg);
}

.galeria__servicios--img4 {
  grid-area: img4;
  background-image: url(../gallery/galeria_sol.jpg);
  background-position: right;
}

.galeria__servicios--img5 {
  grid-area: img5;
  background-image: url(../gallery/galeria_fotos_azul.jpg);
  background-position: center;
}

.galeria__servicios--img6 {
  grid-area: img6;
  background-image: url(../gallery/galeria_industriales_blue.jpg);
  background-position: top;
}

@media screen and (max-width: 1149px) {
  .servicios-gallery .servicios_title {
    font-size: 3rem;
  }
  .servicios-gallery .galeria__servicios--img .btn {
    position: absolute;
    display: block;
    margin: 153px 10px;
  }
  .servicios-gallery .galeria__servicios--img1 .btn {
    margin-left: 5px;
  }
  .servicios-gallery .galeria__servicios--img1 .btn a {
    font-size: 0.7rem;
  }
}
@media (max-width: 991px) {
  .servicios-gallery {
    height: 600px;
  }
  .servicios-gallery .servicios_title {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .servicios-gallery .servicios_title_up, .servicios-gallery .servicios_title_down {
    display: none;
  }
  .servicios-gallery .servicios_title_lineal {
    display: block;
  }
  .servicios-gallery .galeria__servicios .btn {
    padding: 5px 6px;
  }
}
@media (max-width: 842px) {
  .servicios-gallery {
    height: 1200px;
  }
  .servicios-gallery .galeria__servicios {
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "img1 img4" "img2 img2" "img3 img5" "img6 img6";
    grid-gap: 15px;
  }
  .servicios-gallery .galeria__servicios .galeria__servicios--img .btn {
    margin: 200px 10px;
  }
}
@media (max-width: 842px) {
  .servicios-gallery .galeria__servicios .galeria__servicios--img .btn a {
    font-size: 10px;
  }
}
.novedades_home {
  background-color: #a1ff6a;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2315c5b5' fill-opacity='0.42'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  width: 100%;
  margin-top: 0px;
}
.novedades_home h1 {
  padding: 3rem 0 1rem 0;
  font-size: 4rem;
  color: #1a217c;
  font-weight: 700;
}
.novedades_home .container .row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
}
.novedades_home .container .row .novedades__home--card, .novedades_home .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card, .novedades_home .container .shop-section-sol .shop-section-product .container-fluid .row .product--card, .shop-section-recetados .shop-section-product .container-fluid .novedades_home .container .row .product--card, .shop-section-sol .shop-section-product .container-fluid .novedades_home .container .row .product--card {
  width: 100%;
  display: block;
  text-align: left;
  border: none;
  border-radius: 10px;
  box-shadow: rgb(81, 114, 81) 0.5px 0.5px 8px;
}
.novedades_home .container .row .novedades__home--card .card-body, .novedades_home .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body, .novedades_home .container .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body, .shop-section-recetados .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body, .shop-section-sol .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body {
  padding: 0;
}
.novedades_home .container .row .novedades__home--card .card-body .card-title, .novedades_home .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-title, .novedades_home .container .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-title, .shop-section-recetados .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-title, .shop-section-sol .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-title {
  padding: 0;
  margin-top: 20px;
}
.novedades_home .container .row .novedades__home--card .card-body .card-text, .novedades_home .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-text, .novedades_home .container .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-text, .shop-section-recetados .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-text, .shop-section-sol .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-text {
  padding: 0;
  margin-bottom: 0px;
  margin: 0;
}
.novedades_home .container .row .novedades__home--card .card-body .card-btn, .novedades_home .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-btn, .novedades_home .container .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-btn, .shop-section-recetados .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-btn, .shop-section-sol .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-btn {
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  color: #1a217c;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  margin: 0 5% 1rem;
  border-radius: 15px;
  background-image: url(../gallery/background_3160622.jpg);
  border: none;
}
.novedades_home .container .row .novedades__home--card .card-body .card-btn i, .novedades_home .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-btn i, .novedades_home .container .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-btn i, .shop-section-recetados .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-btn i, .shop-section-sol .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-btn i {
  margin-left: 1rem;
  padding: 0;
  font-size: 1rem;
  color: #1a217c;
}
.novedades_home .container .row .novedades__home--card .card-body .card-btn:hover, .novedades_home .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-btn:hover, .novedades_home .container .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-btn:hover, .shop-section-recetados .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-btn:hover, .shop-section-sol .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-btn:hover, .novedades_home .container .row .novedades__home--card .card-body .card-btn:hover i, .novedades_home .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-btn:hover i, .novedades_home .container .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-btn:hover i, .shop-section-recetados .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-btn:hover i, .shop-section-sol .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-btn:hover i {
  color: #8C1F28;
}
.novedades_home .container .row .novedades__home--card .card-body .card-btn:hover, .novedades_home .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-btn:hover, .novedades_home .container .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-btn:hover, .shop-section-recetados .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-btn:hover, .shop-section-sol .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-btn:hover {
  transform: scale(1.1);
}

/* novedades xs------- */
@media (max-width: 575px) {
  .novedades_home h1 {
    padding: 3rem 0 1rem 0;
    font-size: 2.5rem;
    color: #1a217c;
    font-weight: 700;
  }
  .novedades_home .container .row .novedades__home--card, .novedades_home .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card, .novedades_home .container .shop-section-sol .shop-section-product .container-fluid .row .product--card, .shop-section-recetados .shop-section-product .container-fluid .novedades_home .container .row .product--card, .shop-section-sol .shop-section-product .container-fluid .novedades_home .container .row .product--card {
    height: 80vh;
    margin-bottom: 5%;
  }
  .novedades_home .container .row .novedades__home--card .card-body .card-btn, .novedades_home .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-btn, .novedades_home .container .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-btn, .shop-section-recetados .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-btn, .shop-section-sol .shop-section-product .container-fluid .novedades_home .container .row .product--card .card-body .card-btn {
    font-size: 1rem;
    padding: 0.7rem 1rem;
  }
}
@media (max-width: 420px) {
  .novedades_home h1 {
    padding: 3rem 0 1rem 0;
    font-size: 2.5rem;
    color: #1a217c;
    font-weight: 700;
  }
  .novedades_home .container .row .novedades__home--card, .novedades_home .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card, .novedades_home .container .shop-section-sol .shop-section-product .container-fluid .row .product--card, .shop-section-recetados .shop-section-product .container-fluid .novedades_home .container .row .product--card, .shop-section-sol .shop-section-product .container-fluid .novedades_home .container .row .product--card {
    height: 63vh;
    margin-bottom: 5%;
  }
}
/* novedades sm------- */
@media (min-width: 576px) {
  .container .row .novedades__home--card, .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card, .container .shop-section-sol .shop-section-product .container-fluid .row .product--card, .shop-section-recetados .shop-section-product .container-fluid .container .row .product--card, .shop-section-sol .shop-section-product .container-fluid .container .row .product--card {
    height: 62vh;
    margin-bottom: 5%;
  }
}
/* novedades md------- */
@media (min-width: 768px) {
  .container .row .novedades__home--card, .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card, .container .shop-section-sol .shop-section-product .container-fluid .row .product--card, .shop-section-recetados .shop-section-product .container-fluid .container .row .product--card, .shop-section-sol .shop-section-product .container-fluid .container .row .product--card {
    height: 60vh;
    margin: 0 0.5% 5% 0;
  }
}
/* novedades lg------- */
@media (min-width: 992px) {
  .container .row .novedades__home--card, .container .shop-section-recetados .shop-section-product .container-fluid .row .product--card, .container .shop-section-sol .shop-section-product .container-fluid .row .product--card, .shop-section-recetados .shop-section-product .container-fluid .container .row .product--card, .shop-section-sol .shop-section-product .container-fluid .container .row .product--card {
    height: 60vh;
  }
}
.shop-section-recetados, .shop-section-sol {
  background-image: linear-gradient(-225deg, rgba(167, 190, 241, 0.664) 0%, rgba(243, 222, 253, 0.76) 48%, rgba(167, 190, 241, 0.664) 100%);
  padding: 50px;
}
.shop-section-recetados h1, .shop-section-sol h1 {
  font-weight: 800;
  display: block;
  width: 100%;
  color: #13153f;
  margin-bottom: 20px;
}
.shop-section-recetados .shop-section-marcas, .shop-section-sol .shop-section-marcas {
  color: #13153f;
}
.shop-section-recetados .shop-section-marcas span, .shop-section-sol .shop-section-marcas span {
  font-size: 35px;
  font-weight: 600;
}
.shop-section-recetados .shop-section-marcas li, .shop-section-sol .shop-section-marcas li {
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
}
.shop-section-recetados .shop-section-marcas li .input--option, .shop-section-sol .shop-section-marcas li .input--option {
  margin-right: 15px;
}
.shop-section-recetados .shop-section-product .container-fluid .row, .shop-section-sol .shop-section-product .container-fluid .row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.shop-section-recetados .shop-section-product .container-fluid .row .product--card, .shop-section-sol .shop-section-product .container-fluid .row .product--card {
  margin: 1rem;
  text-align: left;
  border-radius: 10px;
  height: 40vh;
  box-shadow: rgb(157, 163, 157) 0.5px 0.5px 4px;
}
.shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body, .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body {
  padding: 0;
  color: #13153f;
}
.shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-title, .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-title {
  padding: 0;
  margin-top: 1rem;
}
.shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-text, .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-text {
  padding: 0;
  margin-bottom: 0px;
  margin: 0;
}
.shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-btn, .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-btn {
  padding: 0.7rem 1rem;
  font-family: "Poppins", sans-serif;
  color: #13153f;
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  margin: 0 0 10px 0;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, #8af5f5 5%, #7cd4b2 95%);
  border: none;
}
.shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-btn i, .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-btn i {
  margin-left: 18px;
  padding: 0;
  font-size: 18px;
  color: #13153f;
}
.shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-btn:hover, .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-btn:hover {
  transform: scale(1.1);
}
.shop-section-recetados .shop-btn-marcas, .shop-section-sol .shop-btn-marcas {
  display: none;
}

@media (min-width: 992px) and (max-width: 1999px) {
  .shop-section-recetados .shop-section-marcas span, .shop-section-sol .shop-section-marcas span {
    font-size: 35px;
  }
  .shop-section-recetados .shop-section-marcas li, .shop-section-sol .shop-section-marcas li {
    font-size: 15px;
  }
  .shop-section-recetados .shop-section-marcas li .input--option, .shop-section-sol .shop-section-marcas li .input--option {
    margin-right: 10px;
  }
  .shop-section-recetados .shop-section-product .container-fluid .row .product--card, .shop-section-sol .shop-section-product .container-fluid .row .product--card {
    height: 55vh;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .shop-section-recetados .shop-section-marcas span, .shop-section-sol .shop-section-marcas span {
    font-size: 35px;
  }
  .shop-section-recetados .shop-section-marcas li, .shop-section-sol .shop-section-marcas li {
    font-size: 15px;
  }
  .shop-section-recetados .shop-section-marcas li .input--option, .shop-section-sol .shop-section-marcas li .input--option {
    margin-right: 5px;
  }
  .shop-section-recetados .shop-section-product .container-fluid .row .product--card, .shop-section-sol .shop-section-product .container-fluid .row .product--card {
    height: 60vh;
  }
  .shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-btn, .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-btn {
    font-size: 0.8rem;
  }
}
@media (max-width: 767px) {
  .shop-section-recetados .shop-section-marcas, .shop-section-sol .shop-section-marcas {
    display: none;
  }
  .shop-section-recetados .shop-btn-marcas, .shop-section-sol .shop-btn-marcas {
    display: block;
  }
  .shop-section-recetados .shop-btn-marcas .panel-heading a, .shop-section-sol .shop-btn-marcas .panel-heading a {
    color: #13153f;
    text-decoration: none;
    font-size: 30px;
  }
  .shop-section-recetados .shop-btn-marcas .panel-body li, .shop-section-sol .shop-btn-marcas .panel-body li {
    list-style-type: none;
    font-size: 18px;
    padding: 5px;
  }
  .shop-section-recetados .shop-section-product .container-fluid .row .product--card, .shop-section-sol .shop-section-product .container-fluid .row .product--card {
    height: 55vh;
  }
  .shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-btn, .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-btn {
    font-size: 0.8rem;
  }
}
@media (max-width: 575px) {
  .shop-section-recetados, .shop-section-sol {
    padding: 20px;
  }
  .shop-section-recetados h1, .shop-section-sol h1 {
    font-size: 40px;
  }
  .shop-section-recetados .shop-section-product .container-fluid .row .product--card, .shop-section-sol .shop-section-product .container-fluid .row .product--card {
    height: 86vh;
  }
  .shop-section-recetados .shop-section-product .container-fluid .row .product--card .card-body .card-btn, .shop-section-sol .shop-section-product .container-fluid .row .product--card .card-body .card-btn {
    font-size: 0.8rem;
  }
}
.shop-section-sol {
  background-image: linear-gradient(to top, rgba(238, 162, 162, 0.862745098) 0% rgba(187, 193, 191, 0.747) bf 19%, rgba(87, 197, 225, 0.7137254902) 42%, rgba(180, 159, 218, 0.6117647059) 79%, #7ac5d8 100%);
}
.shop-section-sol .shop-section-product .container-fluid .row .product--card {
  height: 40vh;
}

@media (min-width: 767px) and (max-width: 991px) {
  .shop-section-sol .shop-section-product .container-fluid .row .product--card {
    height: 45vh;
  }
}
@media (max-width: 767px) {
  .shop-section-sol .shop-section-product .container-fluid .row .product--card {
    height: 48vh;
  }
}
@media (max-width: 575px) {
  .shop-section-sol .shop-section-product .container-fluid .row .product--card {
    height: 61vh;
  }
}
.formulario-contacto, .formulario-fotografia {
  background-image: linear-gradient(-225deg, #74a7f3 0%, #B8DCFF 48%, #6BBBFF 100%);
  padding: 4% 0;
}

.form-square {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.form-square-img {
  background-image: url(../gallery/Chat_Flatline.png);
  background-position: center;
  background-repeat: no-repeat;
}

.square_forulario {
  padding: 35px 20px;
  color: #2F3CA1;
  overflow: hidden;
}
.square_forulario .subtitle {
  margin-bottom: 0;
  padding-bottom: 0;
}
.square_forulario .form {
  margin-top: 0;
  padding-top: 0;
  border: none;
}
.square_forulario .form label {
  text-align: center;
  margin: 5% 0 0 0;
}
.square_forulario .form input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid #2F3CA1 2px;
  width: 80%;
  margin-left: 10%;
}
.square_forulario .form textarea {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid #2F3CA1 2px;
  margin-left: 10%;
  height: 85px;
  width: 80%;
  resize: none;
}
.square_forulario .form .div--selection {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 0 0 5%;
  margin: 0;
  justify-content: space-around;
}
.square_forulario .form .div--selection .form-select {
  display: inline-block;
  background-color: rgba(131, 123, 117, 0);
  color: #2F3CA1;
  border: none;
  border-bottom: solid #2F3CA1 2px;
  padding: 10px 0px 10px 0px;
  margin: 0 5px 10px 5px;
}
.square_forulario .form .div--selection .form-select option {
  background-color: #e7e6e4;
}
.square_forulario .form .input--button {
  margin: 1rem 1rem 1rem 25%;
  width: 50%;
  padding: 1rem 1rem;
  border: none;
  border-radius: 20px;
  box-shadow: #9ea1df 1.5px 1.5px 10px;
  color: #1a217c;
  font-weight: 600;
  background-image: linear-gradient(60deg, #83db49, rgb(17, 221, 187));
}
.square_forulario .form .input--button:hover {
  transform: scale(1.1);
}

/* formulario md------- */
@media (min-width: 768px) and (max-width: 991px) {
  .form-square-img {
    background-image: url(../gallery/Chat_Flatline_vertical.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.servicios-gallery {
  padding: 30px 10px;
  height: 500px;
  background-color: #1F28A1;
  border: none;
  margin-top: 0;
  z-index: 200;
}
.servicios-gallery .servicios_title {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: rgba(42, 214, 197, 0.8078431373);
  text-shadow: #0e072e 5px 5px 15px;
}
.servicios-gallery .servicios_title_up, .servicios-gallery .servicios_title_down {
  display: block;
  text-align: right;
  margin-right: 20px;
}
.servicios-gallery .servicios_title_up {
  margin-top: 60px;
}
.servicios-gallery .servicios_title_lineal {
  display: none;
  font-size: 3rem;
}

.galeria__servicios {
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img1 img2 img2 img3" "img4 img5 img6 img6";
  grid-gap: 15px;
}

.galeria__servicios--img {
  border-radius: 15px;
  background-size: cover;
  box-shadow: rgb(14, 7, 46) 5px 5px 15px;
}
.galeria__servicios--img .btn {
  position: absolute;
  display: block;
  margin: 147px 10px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}
.galeria__servicios--img .btn a {
  text-decoration: none;
  color: #13153f;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.galeria__servicios--img .btn:hover {
  background-image: linear-gradient(-20deg, rgb(48, 18, 155) 0%, #251763 100%);
}
.galeria__servicios--img .btn:hover a {
  color: #ed6ea0;
}

.galeria__servicios--img1 {
  grid-area: img1;
  background-image: url(../gallery/galeria_recetados2_recortada.jpg);
  background-position: center;
}

.galeria__servicios--img2 {
  grid-area: img2;
  background-image: url(../gallery/galeria_contactos_blue.jpg);
  background-position: top;
}

.galeria__servicios--img3 {
  grid-area: img3;
  background-image: url(../gallery/galeria_audifono_blue_recorte2.jpg);
}

.galeria__servicios--img4 {
  grid-area: img4;
  background-image: url(../gallery/galeria_sol.jpg);
  background-position: right;
}

.galeria__servicios--img5 {
  grid-area: img5;
  background-image: url(../gallery/galeria_fotos_azul.jpg);
  background-position: center;
}

.galeria__servicios--img6 {
  grid-area: img6;
  background-image: url(../gallery/galeria_industriales_blue.jpg);
  background-position: top;
}

@media screen and (max-width: 1149px) {
  .servicios-gallery .servicios_title {
    font-size: 3rem;
  }
  .servicios-gallery .galeria__servicios--img .btn {
    position: absolute;
    display: block;
    margin: 153px 10px;
  }
  .servicios-gallery .galeria__servicios--img1 .btn {
    margin-left: 5px;
  }
  .servicios-gallery .galeria__servicios--img1 .btn a {
    font-size: 0.7rem;
  }
}
@media (max-width: 991px) {
  .servicios-gallery {
    height: 600px;
  }
  .servicios-gallery .servicios_title {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .servicios-gallery .servicios_title_up, .servicios-gallery .servicios_title_down {
    display: none;
  }
  .servicios-gallery .servicios_title_lineal {
    display: block;
  }
  .servicios-gallery .galeria__servicios .btn {
    padding: 5px 6px;
  }
}
@media (max-width: 842px) {
  .servicios-gallery {
    height: 1200px;
  }
  .servicios-gallery .galeria__servicios {
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "img1 img4" "img2 img2" "img3 img5" "img6 img6";
    grid-gap: 15px;
  }
  .servicios-gallery .galeria__servicios .galeria__servicios--img .btn {
    margin: 200px 10px;
  }
}
@media (max-width: 842px) {
  .servicios-gallery .galeria__servicios .galeria__servicios--img .btn a {
    font-size: 10px;
  }
}
.formulario-fotografia {
  padding: 2% 0;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.formulario-fotografia input[type=file] {
  display: none;
}
.formulario-fotografia .custom-file-upload {
  border-bottom: solid #2F3CA1 2px;
  display: block;
  padding: 5px 15px 5px 15px;
  width: 60%;
  position: relative;
  left: 20%;
  cursor: pointer;
}
.formulario-fotografia .custom-file-upload:hover {
  transform: scale(1.1);
}
.formulario-fotografia .form-square-img {
  background-image: url(../gallery/flame-photographing.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.formulario-fotografia .form-square {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
}
.formulario-fotografia .form .div--selection {
  padding: 5% 0 0 5%;
}
.formulario-fotografia .form .div--selection .label--selection {
  padding: 0 0 0 0;
  font-size: 15px;
}
.formulario-fotografia .form .div--selection2 {
  padding: 3% 0 0 0%;
}
.formulario-fotografia .form .div--selection2 .label--selection2 {
  padding: 3% 0 0 0;
}
.formulario-fotografia .form .input--button {
  margin: 2rem 1rem 1rem 25%;
  width: 50%;
  padding: 1rem 1rem;
  border: none;
  border-radius: 20px;
  box-shadow: #dfc59e 1.5px 1.5px 10px;
  color: #1a217c;
  font-weight: 600;
  background-image: linear-gradient(to right, #faa770 0%, #fee140 100%);
}

footer {
  background-image: url(../gallery/polygon3_background_footer.png);
  color: #1F28A1;
  position: relative;
  bottom: 0;
  padding: 80px 45px 80px 45px;
  text-align: left;
}
footer hr {
  border: solid #1F28A1 1px;
  width: 100%;
}
footer li {
  list-style-type: none;
  margin: 5px 0px;
}
footer li a {
  color: #1F28A1;
  font-size: 14px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  font-weight: 500;
}
footer span {
  font-size: 25px;
  font-weight: 500;
  font-style: oblique;
}
footer .menu span {
  line-height: 60px;
}
footer .menu a:hover {
  background-color: #D8D7EC;
  border-radius: 10px;
  color: #28bb14;
  text-decoration: none;
  font-weight: 700;
}
footer .social span {
  font-size: 40px;
}
footer .social .container__social {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
footer .social .container__social i {
  font-size: 300%;
  justify-content: space-around;
  color: #1F28A1;
  padding: 15px;
}
footer .social .container__social i:hover {
  background-color: #D8D7EC;
  border-radius: 50%;
  color: #28bb14;
  font-size: 315%;
}
footer .copyR {
  font-size: 15px;
  width: 90%;
  color: rgb(88, 88, 88);
  position: absolute;
  bottom: 15px;
  text-align: center;
}
footer .maps span {
  line-height: 60px;
}
footer .maps iframe {
  width: 80%;
  height: 70%;
}
footer .atribuciones {
  position: absolute;
  bottom: 0;
  font-size: 40%;
}
footer .atribuciones a {
  color: rgba(169, 169, 169, 0.466);
}

/* ---------- footer pantallas lg------- */
@media (max-width: 991px) {
  .maps {
    margin-top: 40px;
  }
  .maps span {
    line-height: 10px;
  }
  .maps iframe {
    width: 50%;
    height: 100%;
  }
}
/* ---------------footer pantallas sm-------- */
@media (max-width: 767px) and (min-width: 577px) {
  .social span {
    font-size: 30px;
  }
  .social i {
    font-size: 250%;
    padding: 10px;
  }
  .social i:hover {
    font-size: 265%;
  }
  .social hr {
    width: 100% s;
  }
  .maps {
    margin-top: 40px;
  }
  footer span {
    font-size: 20px;
  }
  .menu {
    padding-left: 38px;
  }
  .menu hr {
    margin-top: 0;
    margin-left: 20%;
    width: 80%;
  }
  .menu .menu-span {
    line-height: 75px;
    padding-left: 25%;
    text-align: right;
  }
  .menu li {
    text-align: right;
  }
}
/* ---------- footer pantallas xs--------- */
@media (max-width: 576px) {
  .maps iframe {
    width: 100%;
  }
  .menu {
    margin-top: 40px;
  }
  .container__social {
    width: 60%;
  }
}
.lcontactoMain {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.container-glass {
  position: absolute;
  top: 260px;
  left: 0;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px);
  border: none;
  z-index: 0;
}

.antes-despues-Lcontacto .container1 {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}
.antes-despues-Lcontacto .container1 span {
  color: blue;
  font-size: 2rem;
  text-shadow: #0c631f 1px 1px 2px;
  font-weight: 600;
  margin-bottom: 100px;
  margin-right: 10%;
  margin-left: 5%;
  text-align: right;
  width: 96%;
}
.antes-despues-Lcontacto .container2 {
  height: 70vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}
.antes-despues-Lcontacto .container2 img {
  width: 130%;
  display: block;
}
.antes-despues-Lcontacto .container2 a {
  display: block;
  margin-top: 5%;
  padding: 2% 10%;
  border-radius: 30px;
  font-weight: 600;
  background-color: #00b8d6;
  text-decoration: none;
  color: #1a217c;
  box-shadow: #282f57 1px 1px 5px;
}
.antes-despues-Lcontacto .container2 a:hover {
  transform: scale(1.05);
}
.antes-despues-Lcontacto .container3 {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}
.antes-despues-Lcontacto .container3 span {
  color: blue;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: #0c631f 1px 1px 2px;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 5%;
  text-align: left;
  width: 100%;
}

@media (max-width: 768px) {
  .container-glass {
    top: 250px;
  }
  .antes-despues-Lcontacto .container1 span {
    font-size: 1.6rem;
  }
  .antes-despues-Lcontacto .container2 img {
    margin-bottom: 1rem;
  }
  .antes-despues-Lcontacto .container2 a {
    font-size: 1rem;
  }
  .antes-despues-Lcontacto .container3 span {
    font-size: 1.7rem;
  }
}
@media (max-width: 575px) {
  .container-glass {
    height: 15vh;
    top: 160px;
  }
  .antes-despues-Lcontacto .container1 {
    height: 15vh;
  }
  .antes-despues-Lcontacto .container1 span {
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .antes-despues-Lcontacto .container2 {
    height: 45vh;
  }
  .antes-despues-Lcontacto .container2 img {
    height: 60%;
    width: auto;
    display: block;
    margin-bottom: 0;
  }
  .antes-despues-Lcontacto .container2 span {
    display: block;
    margin-bottom: 5%;
    padding: 2% 10%;
    border-radius: 30px;
    z-index: 100;
  }
  .antes-despues-Lcontacto .container3 {
    height: 15vh;
  }
  .antes-despues-Lcontacto .container3 span {
    margin-bottom: 0px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 575px) {
  .container-glass {
    height: 15vh;
    top: 160px;
  }
  .antes-despues-Lcontacto .container1 {
    height: 15vh;
  }
  .antes-despues-Lcontacto .container1 span {
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .antes-despues-Lcontacto .container2 {
    height: 45vh;
  }
  .antes-despues-Lcontacto .container2 img {
    height: 60%;
    width: auto;
    display: block;
    margin-bottom: 0;
  }
  .antes-despues-Lcontacto .container2 span {
    display: block;
    margin-bottom: 5%;
    padding: 2% 10%;
    border-radius: 30px;
    z-index: 100;
  }
  .antes-despues-Lcontacto .container3 {
    height: 15vh;
  }
  .antes-despues-Lcontacto .container3 span {
    margin-bottom: 0px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 371px) {
  .container-glass {
    height: 10vh;
  }
  .antes-despues-Lcontacto .container1 {
    height: 10vh;
  }
  .antes-despues-Lcontacto .container1 span {
    font-size: 1rem;
  }
  .antes-despues-Lcontacto .container2 {
    height: 40vh;
  }
  .antes-despues-Lcontacto .container2 span {
    padding: 1% 8%;
  }
  .antes-despues-Lcontacto .container3 {
    height: 10vh;
  }
  .antes-despues-Lcontacto .container3 span {
    font-size: 1rem;
  }
}
.infoLcontacto {
  margin: 0;
  padding: 10%;
  color: #1a217c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.infoLcontacto .infoLC-txt {
  align-self: center;
}
.infoLcontacto .infoLC-txt h2 {
  font-weight: 600;
  font-size: 2rem;
  text-shadow: #3a447e 1px 1px 3px;
}
.infoLcontacto .infoLC-txt div {
  font-size: 1rem;
  margin-top: 2rem;
}
.infoLcontacto .infoLC-img {
  align-self: center;
  text-align: center;
  margin: 1rem 0;
}

@media (max-width: 575px) {
  .infoLcontacto .infoLC-txt h2 {
    font-weight: 600;
    font-size: 2rem;
  }
  .infoLcontacto .infoLC-txt div {
    font-size: 1rem;
    margin-top: 2rem;
  }
}
.cuidadosLC {
  padding: 0 50px 50px 50px;
  height: auto;
  display: flex;
}
.cuidadosLC h2 {
  font-weight: 600;
  font-size: 2rem;
  color: #1a217c;
  margin: 2rem 0 2rem 0;
  text-align: center;
  text-shadow: #3a447e 1px 1px 3px;
}
.cuidadosLC .collapseBtn {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
}
.cuidadosLC .collapseBtn .btn {
  margin-left: 10%;
  height: 10rem;
  display: block;
  justify-content: center;
  border: none;
  border-radius: 1rem;
  box-shadow: #8a90b3 1px 1px 8px;
  font-size: 2rem;
  font-weight: 700;
}
.cuidadosLC .btn-mna {
  background-image: linear-gradient(to top, rgba(104, 191, 231, 0.768627451) 0%, rgba(227, 238, 243, 0.768627451) 100%), url("../gallery/Summer-pattern1.jpg");
  color: #1a217c;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.cuidadosLC .btn-nch {
  background-image: linear-gradient(to top, rgba(3, 22, 44, 0.9058823529) 0%, rgba(14, 15, 85, 0.9254901961) 100%), url("../gallery/crescent-moon-night-sky-art-background-pattern.jpg");
  color: #e1fefd;
}

.card-body-mna, .card-body-nch {
  font-size: 1rem;
  color: #13153f;
  background-color: rgba(251, 252, 219, 0);
  border: none;
  margin-left: 10%;
}
.card-body-mna li, .card-body-nch li {
  margin: 1rem;
}

@media (max-width: 767px) {
  .cuidadosLC h2 {
    margin: 2rem 0 2rem 2rem;
  }
  .cuidadosLC .collapseBtn .btn {
    font-size: 1.8rem;
  }
}
@media (max-width: 575px) {
  .cuidadosLC {
    padding: 0 20px 50px 20px;
  }
  .cuidadosLC h2 {
    font-size: 1.8rem;
    margin: 2rem 0 1rem 5%;
  }
  .cuidadosLC .collapseBtn .btn {
    font-size: 1.5rem;
    margin-left: 8%;
  }
  .card-body-mna, .card-body-nch {
    margin-left: 5%;
    font-size: 0.8rem;
    width: 100%;
  }
  .card-body-mna li, .card-body-nch li {
    margin: 1rem;
  }
}
.bodyAudifonos {
  background-color: #fff;
}

.laddingAudif {
  background-color: #fff;
}
.laddingAudif .jumbotron {
  background-color: #fff;
  background-image: url(../gallery/audifonosLadding.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 70vh;
  padding: 10rem 3rem 0 0;
  display: flex;
  justify-content: flex-end;
}
.laddingAudif .jumbotron .jumbotron-text {
  width: 60%;
  text-align: right;
  color: #1a217c;
}
.laddingAudif .jumbotron .jumbotron-text h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}
.laddingAudif .jumbotron .jumbotron-text span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

@media (max-width: 992px) {
  .laddingAudif .jumbotron {
    padding: 7rem 2rem 0 0;
  }
  .laddingAudif .jumbotron .jumbotron-text {
    width: 50%;
    text-align: right;
  }
}
@media (max-width: 767px) {
  .laddingAudif .jumbotron {
    padding: 6rem 2rem 0 0;
  }
  .laddingAudif .jumbotron .jumbotron-text {
    width: 40%;
  }
  .laddingAudif .jumbotron .jumbotron-text h1 {
    font-size: 2rem;
  }
  .laddingAudif .jumbotron .jumbotron-text span {
    font-size: 0.8rem;
  }
}
@media (max-width: 670px) {
  .laddingAudif .jumbotron {
    padding: 4rem 2rem 0 0;
  }
  .laddingAudif .jumbotron .jumbotron-text {
    width: 40%;
  }
  .laddingAudif .jumbotron .jumbotron-text h1 {
    font-size: 1.8rem;
  }
  .laddingAudif .jumbotron .jumbotron-text span {
    font-size: 0.8rem;
  }
}
@media (max-width: 580px) {
  .laddingAudif .jumbotron {
    background-image: url(../gallery/laddingAudifonoscopia.jpg);
    background-position: bottom;
    padding: 2.5rem 1rem 0 1rem;
    height: 80vh;
    background-position: bottom;
  }
  .laddingAudif .jumbotron .jumbotron-text {
    width: 100%;
    text-align: center;
  }
  .laddingAudif .jumbotron .jumbotron-text h1 {
    font-size: 1.8rem;
  }
  .laddingAudif .jumbotron .jumbotron-text span {
    font-size: 0.8rem;
  }
}
@media (max-width: 450px) {
  .laddingAudif .jumbotron {
    background-image: url(../gallery/laddingAudifonoscopia.jpg);
    background-position: bottom;
    padding: 2.5rem 1rem 0 1rem;
    height: 67vh;
    background-position: bottom;
  }
  .laddingAudif .jumbotron .jumbotron-text {
    width: 100%;
    text-align: center;
  }
  .laddingAudif .jumbotron .jumbotron-text h1 {
    font-size: 1.6rem;
  }
}
.fichasAudifonos {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  background-color: #fff;
}
.fichasAudifonos .fichaAu {
  color: #1a217c;
  padding: 0 3rem 3rem 3rem;
  height: auto;
}
.fichasAudifonos .fichaAu .irA {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  position: absolute;
  bottom: 0;
  text-decoration: 0;
  color: #1a217c;
  font-weight: 500;
}
.fichasAudifonos .fichaAu .irA:hover {
  transform: scale(1.1);
}
.fichasAudifonos .fichaAu1, .fichasAudifonos .fichaAu2 {
  border-right: solid #1a217c 1px;
}

.modelosAudifono {
  padding: 4rem;
}
.modelosAudifono .product--card {
  border: none;
  border-right: solid #2F3CA1 1px;
  border-radius: 0;
  height: 350px;
}
.modelosAudifono .product--card .btn {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  position: absolute;
  bottom: 0;
  text-decoration: 0;
  color: #1a217c;
  font-weight: 500;
  border: none;
}
.modelosAudifono .product--card4 {
  border-right: none;
}

@media (max-width: 991px) {
  .modelosAudifono {
    padding: 2rem;
  }
  .modelosAudifono .product--card {
    height: 300px;
  }
  .modelosAudifono .product--card h4 {
    font-size: 1.2rem;
  }
  .modelosAudifono .product--card .btn {
    padding: 0.5rem 1rem;
  }
  .modelosAudifono .product--card4 {
    border-right: none;
  }
}
@media (max-width: 767px) {
  .modelosAudifono {
    padding: 3rem;
  }
  .modelosAudifono .product--card {
    height: 370px;
  }
  .modelosAudifono .product--card h4 {
    font-size: 1.2rem;
  }
  .modelosAudifono .product--card .btn {
    padding: 0.5rem 1rem;
  }
  .modelosAudifono .product--card4, .modelosAudifono .product--card2 {
    border-right: none;
  }
  .modelosAudifono .product--card1, .modelosAudifono .product--card2 {
    margin-bottom: 5rem;
  }
}
@media (max-width: 575px) {
  .modelosAudifono {
    padding: 3rem;
  }
  .modelosAudifono .product--card {
    height: 482px;
    margin-bottom: 6rem;
    border: none;
    border-bottom: solid #1a217c 1px;
  }
  .modelosAudifono .product--card h4 {
    font-size: 1.5rem;
  }
  .modelosAudifono .product--card .btn {
    padding: 0.7rem 3rem;
    bottom: 2rem;
  }
}
.bgimg {
  background-image: url("../gallery/3160622.jpg");
  height: 70vh;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #1a217c;
  font-size: 25px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
